<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/common.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

</head>

<body>
<script>
    $(document).ready(function () {
        var today = getToday();
        $('#searchDate').val(today);
        $('#reservation_date').val(today);

        $('#prevBtn').click(function () {
            var today = $('#searchDate').val();
            var prevDay = getPrevDay(today);

            $('#searchDate').val(prevDay);
        });

        $('#nextBtn').click(function () {
            var today = $('#searchDate').val();
            var nextDay = getNextDay(today);

            $('#searchDate').val(nextDay);
        });

    });
</script>
<div id="wrapper">
    <% include template/left.ejs %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Reservation</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic Form Elements
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group form-inline">
                                    <label>영업일자</label>
                                    <input class="form-control" id="searchDate" type="number">

                                    <button id="prevBtn" class="btn btn-default" type="button">Prev</button>
                                    <button id="nextBtn" class="btn btn-default" type="button">Next</button>
                                    <button id="selectDate" class="btn btn-default" type="button">일 자</button>
                                </div>
                                <div class="form-group form-inline">
                                    <label>이름</label>
                                    <input id="searchName" class="form-control" type="text"/>
                                    <label>상태구분</label>
                                    <select class="form-control reservation-type">
                                    </select>

                                    <input id="search" class="form-control" type="button" value="조회"/>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>입숙일자</th>
                                            <th>예약자</th>
                                            <th>투숙객</th>
                                            <th>상태</th>
                                            <th>요금</th>
                                            <th>연락처</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>예약일자</label>
                                    <input id="reservation_date" class="form-control" readonly>
                                </div>
                                <div class="form-group form-inline">
                                    <label>투숙기간</label>
                                    <input id="startDate" class="form-control" type="date">
                                    ~
                                    <input id="endDate" class="form-control" type="date">

                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <div class="form-group form-inline">
                                    <label>객실번호</label>
                                    <select id="roomNumber" class="form-control">
                                        <option>선택</option>
                                    </select>

                                    <label>객실수</label>
                                    <input id="roomCount" class="form-control" readonly/>
                                </div>
                                <div class="form-group form-inline">
                                    <label>고객명</label>
                                    <input id="title" class="form-control"/>

                                    <label>고객구분</label>
                                    <select id="reservation-type" class="form-control reservation-type"></select>
                                </div>
                                <div class="form-group form-inline">
                                    <label>투숙자명</label>
                                    <input id="name" class="form-control"/>

                                    <label>연락처</label>
                                    <input id="phone" class="form-control" type="number"/>
                                </div>
                                <button type="reset" class="btn btn-default btn-lg btn-block">Reset</button>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>

</body>

</html>
